/**
  * by theWhK - 2018
  */

.header
    position fixed
    top 0
    left 0
    width 100vw
    height 80px
    line-height 80px
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-bottom 1px solid #25B4ED

    .logotipo-wrapper
        img 
            max-height 80%

.header-preenchimento
    height 110px

.relatorio-basico-wrapper
    .bloco-info-box
        padding 10px 15px
        border 1px solid #333
        border-radius 3px

        .icone
            font-size 1.3em

        .rotulo
            font-weight 700
            text-transform lowercase
            font-size 1.1em

        .info
            font-size 1.3em